.chatWindow {
    display: flex;
    border-color: black;
    border-bottom-style: solid;
    height: 90vh;
}

.writeWindow {
    display: flex;
    font-size: calc(5px + 2vmin);
    height: 10vh;
    align-items: center;
}

.submitBox {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.writeBox {
    width: 70%;
    height: 100%;
    background-color: antiquewhite;
}

.noBullets {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    
}

.diceContainer {
    display: flex;
    justify-content: space-evenly;
  }