.macroButton {
    font-weight: bold;
    height: 70px;
    padding-right: 5px;
    width: 100%;
    min-width: 83.45px;
}

.macroMenu {
    font-size: small;
    margin-left: 100%;
    width: max-content;
}

.menuButton {
    height: 30px;
    border-color: black;
    background-color: brown;
    font-weight: bold;
}