.token-square {
    position: absolute;
    border-style: solid;
    width: 49px;
    height: 49px;
    border-width: 0.5px;
    border-color: black;
    background-color: white;
}

.token-square.selected {
    outline: 0.5px solid red;
}