.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
  width: 75vw;
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /*IE 10 and IE 11*/
  user-select: none; /*Standard syntax*/
}

.gameContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mainGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomSection {
  bottom: 0%;
  padding-bottom: 20px;
  padding-left: 20px;
  position: fixed;
}

.rightSideMenu {
  height: 100vh;
  width: 25vw;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
